.nav-bar {
	height:60px;
	color: white;
	background: -webkit-linear-gradient(top, #4f4f4f, #151515);
}


.body{
	margin:0px;
	padding: 0px;
	font-family: sans-serif;
	font-weight: lighter;
}

.logo {
margin-left: 280px;
display: inline-block;

}

.menu-item {
	display: inline-block;
	position: relative;
	bottom: 25px;
	margin-left: 40px;
	font-weight: 500;
}
.user-icon {
	display: inline-block;
	margin-left: 330px;
}

.user-name {
	display: inline-block;
	position: relative;
	bottom: 25px;
	
	font-weight: 500;
}

.inline{
	display: inline-block;
}

.title {
	
	height: 85px;
	background-color: white;
	font-size:30px;

	box-shadow: 5px 5px 2px black;
	z-index: 2;

}

.title-text {
	margin-left:280px;
	line-height: 2.6;
}

.main {
	background-color:#f2f0ec;
	height: 575px;
}

.holder {
	margin-left: 280px;

}

.two-thirds {
	width: 620px;
	display: inline-block;
	float:left;
}

	.image-box{
		margin-top: 25px;
		height:480px;
		width:620px;
		background-color:#d0cdc7;
		display: inline-block;
		font-size: 

			}

			.image-box-text{
				margin:25px;
				font-weight: 500;
				font-style: italic;
				letter-spacing: .5px;
			}

		.body-caption{
			margin-left: 30px;
			margin-top: 10px;
			font-size: 13px;
		}	

		.top-box-holder {
			margin-top: 5px;
			margin-left: 10px;
			display: inline-block;
			width: 320;
		}

.body2 {
	background-color: white;
	height: 600px;
}

.footer {
	background-color:#545352;
	height:349px;
}


/*.wrapper {
	padding: 0px;
	margin-left: 280px;
	position: absolute;
	border-color: red;
	border-width: 1px;
	border-style: dashed;
	color: white;
}*/

.wrapper {
	border-width: 1px;
	border-color: red;

}

.small-box-outter {
	border_style: dashed;
	border_width: 1px;
	width: 140px;
	height: 150px;
	background-color: #b5aea3;
	color: black;
	display: inline-block;
	margin: 20px 10px 20px 10px;
	text-shadow: -1px 0px 0px 0px black;
	text-align: center;
	font-size: 13px;
}

.small-box-inner {
	font-weight: 500;
	color: white;
	background-color:#d0cdc7;
	font-size: 70px;
	text-align: center;
	padding-bottom: 36px;
	text-shadow: 0px 2px grey;
}

.yellow-button {
	margin-left: 12px;
	margin-top: 10px;
	width:300px;
	height:60px;
	display: inline-block;
	color: white;
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 24px;
	text-shadow: 1px 1px grey;
	border-style: groove;
	border-width: 1px;
	background: -webkit-linear-gradient(top, #fedd33, #eaa62f);
	
	text-align: center;
	border-radius: 10px;
}

.button-text{
	margin:14px;

}

.thing-under-button {
	margin: -12px 0px 0px 16px;
	width: 290px;
	height: 80px;
	border-radius:10px;
	border-style:groove;
	background-color: white;

}

.grey-button {
	display: block;
	height: 30px;
	width:135px;
	color: white;
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 14px;
	text-shadow: 1px 1px black;
	border-style: groove;
	border-width: 1px;
	background-color: #636362;
	
	padding: 10px 10px 3px 10px;
	text-align: center;

	border-radius: 5px;
	border-color: grey;

}



